<div class="header-area">
    <small style="color:#aaaaaa;margin-top: 10px;">&copy; LLM Chat, All rights reserved | Designed by Md Rehan (<a style="text-decoration: none;" href="tel:+918210614418">mdrehan4all</a>)</small>
</div>

<div class="chat-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div *ngFor="let d of message">
                    <div style="background-color: #009900;color:#ffffff;padding:10px;border-radius: 20px;display:block;margin-bottom: 5px;">
                        <strong>{{ d.role }}</strong>: 
                        <p>{{ d.content }}</p></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="input-area">
    
    <div style="display: flex;flex-wrap: nowrap;">
        <div style="flex-basis: 10%;">
            <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Menu</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="resetMessage()">Restart Chat</button>
                <button mat-menu-item [matMenuTriggerFor]="menu2">Select Model</button>
            </mat-menu>
            <mat-menu #menu2="matMenu">
                <button mat-menu-item *ngFor="let d of modelList" (click)="selectModel(d)">{{ d }}</button>
            </mat-menu>              
        </div>
        
        <div style="flex-basis: 85%;">      
            <form [formGroup]="form" (submit)="submit()">
                <input type="text" class="form-control prompt-input" placeholder="Enter Prompt" formControlName="prompt"/>
                <button mat-raised-button color="primary" class="prompt-send-btn" [disabled]="btnSend != 'Send'">{{ btnSend }}</button>
            </form>
        </div>
    </div>
</div>